@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? família=Bebas+Neue&display=swap'); /*Importando fonte do google*/

@font-face { /*Usando fonte baixada*/
    font-family: 'Android';
    src: url('../fontes/idroid.otf'); /*cada ponto significa uma pasta aberta*/
    font-weight: normal;
}

:root { /*àrea para declarar variáveis*/
    --cor0: #b5f3d7;
    --cor1: #26cc81; /*declarando uma variável*/
    --cor3: #19a063;
    --cor4: #1b6b47;
    --cor5: #0e3d25;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}

* { /*Seleciona todos o elementos do HTML/CSS*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after { /*todos os links que forem da classe externo...*/
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /*deixou o fundo gradiente com as cores 3 e 5*/
    min-height: 150px; /*altura minima*/
    text-align: center;
    padding-top: 40px;
}

header > h1 { /*Modificando o h1 dentro do header*/
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267); /*sombra no texto*/
}

header > p { /*Modificando o P dentro de Header*/
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px; /*tamanho maximo que o texto ocupa por linha*/
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bolder; /*negrito*/
    border-radius: 5px;
    transition-duration: 0.5s; /*a transição irá demorar meio segundo para sumir*/
}

nav > a:hover { /*quando passar o mouse por cima*/
    background-color: var(--cor4);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 20px; /*afastou da borda*/
    margin: auto; /*para quando estiver em tela cheia, não crescer*/
    margin-bottom: 30px; /*da um espaço do rodape*/
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px; /*arredonda somente a borda inf esq*/
    border-bottom-right-radius: 10px; /*arredonda borda inf dir ou usar 0px 0px 10px 10px*/

}

main img {
    width: 100%;  /*Fará com que a imagens se adaptem*/
}

main img.pequena {
    max-width: 350px;
    display: block; /*especifica o comportamento de exebição(o tipo de caixa)*/
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /*2714 código do emoji e sem o barra antes do cód, não mostra o emoji. 00A0 é o esspaço sem quebra*/
    list-style-position: inside; /*trás a bolinha para o lado de dentro*/
    columns: 2; /*dividiu a coluna em 2*/
}

main h1 { /*Modificando o h1 dentro do main*/
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent); /*irá fazer da cor 1 até o transparente*/
    text-indent: 8px; /*especifica o recuo da primeira linha em um bloco de texto*/
}

main p {
    margin: 15px 0px; /*margem em cima e em baixo de todos os paragrafos*/
    text-align: justify;
    text-indent: 30px; /*espaço no começo do paragrafo*/
    font-size: 1em; /*Tamanho da fonte*/
    line-height: 2em; /*altura entre linhas*/
}

main strong {
    color: var(--cor4);
    font-weight: bold; /*Define caracteres grossos*/
}

main a {
    text-decoration: none; /*tira a decoração*/
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover { /*modifica quando passa o mouse em cima*/
    text-decoration: underline; /*sublinhado*/
    color: var(--cor3);
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #19a063;
}